<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <div id="date">
    <p style="text-align:left;">
    {{#time}}
    {{currdatetime}}
    {{/time}}
    <span style="float:right;">   <b> Welcome </b> </p>
  </div>

    <!-- FORM POSTING LOCATION TO ROUTE -->
    <h1>What Tv series you are looking for</h1>
    <form action="/tvSeries/tvSeriesDetails" method="POST">
        <input name="seriesName" type="text" />
        <input type="submit" />
    </form>

    <!-- FORECAST INCLUDED IF RETURNED IN RESPONSE -->
    {{#bhawna}}
        {{>bhawna}}
    {{/bhawna}}
  </body>
</html>
